{% extends "base.html" %}
{% block title %}404. Потеряла насяльникамана, давай обратнамана?{% endblock %}
{% block content %}
    <main>
    <section class="container my-5 px-4">
      <div class="container">
        <div class="row my-3">
          <div class="col-sm">
          </div>
          <div class="col-sm">
              <a class="nav-link" href="{{ url_for('index_view') }}">
                <img src="{{ url_for('static', filename='img/404.png') }}" alt="Вернутся на главную">
              </a>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}